:root{
    --cor1: #8f008f;
    --cor2: #DBD916;
    --cor3: #16DB4E;
    --cor4: #ccc;
}

@keyframes tremer{
    0%{
        right: 0px;
    }
    25%{
        right: 3px;
    }
    75%{
        right: -3px;
    }
    100%{
        right: 0px;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 30px;
}

#placar{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: var(--cor4);
    color: black;
    border-radius: 5px 20px;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#placar button{
    margin-top: 5px;
    border: none;
    background-color: var(--cor4);
    cursor: pointer;
}

h1{
    background-color: var(--cor4);
    padding: 10px 20px;
    border-radius: 5px 20px;    
}

table{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

td{
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 20px black;
    font-size: 2em;
    background-color: var(--cor4);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    width: 33%;
    height: 33%;
}
td:hover{
    transition: 0.1s;
    transform: scale(1.03, 1.03);
}

.tremer{
    animation-name: tremer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

#resultado{
    position: fixed;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resultado p{
    font-size: 3em;
}
#resultado button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.mostrar{
    transition: 1s;
    background-color: #16db4ec4;
    display: flex;
}
.esconder{
    display: none;
}